* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;    
}

li {
    list-style-type: none;
            a {
            text-decoration: none;
        }
}

img {
  max-width: 100%;
  height: auto;
}

footer {          
    background-image: url('assets/img/footer-bg.jpg');
    background-size: cover;
    
}


